html[data-theme="theme2"] {
  /* --color-hBg: #f6dbe7; */

  /* //-- Загальні */
  --color-bodyBg: #f8e9f8;
  --color-bodyText: #060214;

  /* //-- headTape -------------------------------------------- */
  --color-hTapeBg: #f74d97;
  --color-hTapeText: #fff;

  /* //-- head -------------------------------------------- */
  --color-hBg: #f6dbe7;
  --color-hBgHov: #f9c3da;
  --color-hText: #f82782;
  --color-hTextHov: #fa1f7e;
  --color-hTextImg: #f686b7;
  --color-hTextImg1: #f82782;
  --color-hBorder: #f9c3da;

  /*  //-- drawer -------------------------------------------- */
  --color-drawDropMenuBg: #f8d2e4;
  --color-drawDropHr: #f9c3da;
}
