html[data-theme="theme3"] {
  /* --color-menuBg: #f7eecf; */

  /* //-- Загальні */
  --color-bodyBg: #f5f5f4;
  --color-bodyText: #060214;

  /* //-- headTape -------------------------------------------- */
  --color-hTapeBg: #aaa9a8;
  --color-hTapeText: #fff;

  /* //-- head -------------------------------------------- */
  --color-hBg: #f7eecf;
  --color-hBgHov: #f6e4a3;
  --color-hText: #a28519;
  --color-hTextHov: #7e6b25;
  --color-hTextImg: #f3dc8c;
  --color-hTextImg1: #f5d357;
  --color-hBorder: #f6e4a3;

   /*  //-- drawer -------------------------------------------- */
  --color-drawDropMenuBg: #f8e7aa;
  --color-drawDropHr: #eed784;

}
