html[data-theme="theme1"] {
  --color-primary: #f98866;
  --color-secondary: #80bd9e;
  --color-buttons: #89da59;
  --color-typography: #ff320e;

  /* //-- Загальні */
  --color-text: #060214;
  --color-textD: #fff;
  --color-bodyBg: #fff;
  --color-bodyBgD: rgba(65, 69, 69, 1);
  --color-errorMsg: #f21e08;
  --color-errorMsgD: #f21e08;
  --color-bodyeclipseBg: rgba(0, 0, 0, 0.4);

  /* //-- headTape -------------------------------------------- */
  --color-hTapeText: #fff;
  --color-hTapeTextD: #6b8e23;
  --color-hTapeBg: #6b8e23;
  --color-hTapeBgD: #000;
  --color-hTapeTextHov: red;
  --color---color-hTapeTextHovD: red;
  --color-hTapeTextBgHov: #82ae46;
  --color-hTapeTextBgHovD: rgba(65, 69, 69, 1);

  /* //-- head -------------------------------------------- */
  --color-hText: #6b8e23;
  --color-hTextD: #fff;
  --color-hBg: #e7f4e0;
  --color-hBD: rgba(23, 25, 25, 1);
  --color-hTextHov: #fff;
  --color-hTextHovD: rgba(23, 25, 25, 1);
  --color-hBgHovr: #82ae46;
  --color-hBgHovD: #fff;

  /* //-- headLogo -------------------------------------------- */
  --color-hLogoText: #6b8e23;
  --color-hLogoTextD: #6b8e23;
  --color-hLogoTextHov: red;
  --color-hLogoTextHovD: red;

  /* //--  headIcon -------------------------------------------- */
  --color-IconH: #6b8e23;
  --color-IconHD: #6b8e23;
  --color-IconHHov: red;
  --color-IconHHovD: red;
  --color-IconHBg: rgba(65, 69, 69, 1);
  --color-IconHBgD: rgba(65, 69, 69, 1);
  --color-IconHBgHov: #c9dfa7;
  --color-IconHBgHovD: #e8efd3;

  /* //-- headMobile -------------------------------------------- */
  --color-hMobileText: #6b8e23;
  --color-hMobileTextD: #6b8e23;
  --color-hMobileTextHov: red;
  --color-hMobileTextHovD: red;
  --color-hMobileBg: rgba(65, 69, 69, 1);
  --color-hMobileBgD: rgba(65, 69, 69, 1);
  --color-hMobiletBgHov: #fff;
  --color-hMobiletBgHovD: #fff;
  --color-hMobileIcon: red;
  --color-hMobileIconD: red;

  /* //-- headMenu / + Всі випадаючі з head меню ??? */
  --color-menuBorder: #dcdcdc;
  --color-menuBorderD: #6b8e23;
  --color-menuText: #6b8e23;
  --color-menuTextD: #6b8e23;
  --color-menuTextHov: #fff;
  --color-menuTextHovD: #ffffff;
  --color-menuBg: #756dba;
  --color-menuBgD: rgba(23, 25, 25, 1);
  --color-menuBgHov: #82ae46;
  --color-menuBgHovD: #82ae46;
  --color-menuAct: #fff;
  --color-menuActD: #fff;
  --color-menuActBg: red;
  --color-menuActBgD: red;
  --color-menuGorizBgHov: #f64532;
  --color-menuGorizBgHovD: #f64532;

  /*  //-- drawer -------------------------------------------- */
  --color-drawDropMenuBg: #e7f4e0;
  --color-drawDropMenuBg: #e7f4e0;

  /* //-- table (title/icons)-------------------------------------------- */
  --color-tabHTitle: #6b8e23;
  --color-tabHTitleD: #6b8e23;
  --color-tabHText: #000;
  --color-tabHTextD: #ffff;
  --color-tabHBg: #f8f8f8;
  --color-tabHBgD: #222628;
  --color-iconTHov: #6b8e23;
  --color-iconTHovD: #6b8e23;
  --color-iconTBorder: #e7f4e0;
  --color-iconTBorderD: #e7f4e0;
  --color-iconTBgHov: #e7f4e0;
  --color-iconTBgHovD: #e7f4e0;

  --color-iconT: #f64532;
  --color-iconTD: #f64532;
  --color-iconT1: black;
  --color-iconT1D: black;

  /* //-- table (th/tr/нижній підсумок) ------------------------------------------ */
  --color-tabThBorder: #babfc7;
  --color-tabThBorderD: #dde2eb;
  --color-tabTrBorder: #babfc7;
  --color-tabTrBorderD: #dde2eb;
  /* /th/ */
  --color-tabThText: rgb(31 41 55);
  --color-tabThTextD: #d3d3d3;
  --color-tabThBg: rgb(214 211 209);
  --color-tabThBgD: rgb(31 41 55);
  /* //Рядки */
  --color-tabTrText: #000;
  --color-tabTrTextD: #fff;
  --color-tabTrBg: rgb(255 255 255);
  --color-tabTrBgD: rgb(55 65 81);
  --color-tabTrBgHov: rgb(231 229 228);
  --color-tabTrBgHovD: rgb(107 114 128);
  --color-tabTrBgEve: rgb(245 245 244);
  --color-tabTrBgEveD: rgb(75 85 99);
  --color-tabTrBgSel: #e8efd3;
  --color-tabTrBgSelD: #6b8e23;
  --color-tabTrBgSelHov: #c9dfa7;
  --color-tabTrBgSelHovD: #82ae46;
  --color-iconTHovBg: #82ae46;
  --color-iconTHovBgD: #fff;
}
