@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@layer base {
  html {
    /* Для меню вибору тем */
    --color-themeDefBg: #e7f4e0;
    --color-theme1Bg: #e2e0f4;
    --color-theme2Bg: #f4e0e9;
    --color-theme3Bg: #e9d92d;

    /* //-- Загальні */
    --color-bodyBg: #f1f7ed;
    --color-bodyBgD: #414545;
    --color-bodyText: #060214;
    --color-bodyTextD: #fff;

    --color-errorMsg: #f21e08;
    --color-errorMsgD: #f21e08;
    --color-bodyeclipseBg: rgba(0, 0, 0, 0.4);

    /* //--  IconH /hesder(main,drawer,)-- */
    --color-IconH: #6b8e23;
    --color-IconHD: #6b8e23;
    --color-IconHHov: red;
    --color-IconHHovD: red;
    --color-IconHBg: #414545;
    --color-IconHBgD: #414545;
    --color-IconHBgHov: #c9dfa7;
    --color-IconHBgHovD: #e8efd3;

    /* //--- iconT /Table,Form,Card, */
    --color-iconT: #f64532;
    --color-iconTD: #f64532;

    /* //-- headTape -------------------------------------------- */
    --color-hTapeText: #fff;
    --color-hTapeTextD: #6b8e23;
    --color-hTapeBg: #6b8e23;
    --color-hTapeBgD: #000;
    --color-hTapeTextHov: red;
    --color-color-hTapeTextHovD: red;
    --color-hTapeTextBgHov: #82ae46;
    --color-hTapeTextBgHovD: #171919;

    /* //-- head -------------------------------------------- */
    --color-hBg: #e3fad6;
    --color-hBgD: #171919;
    --color-hBgHov: #c9dfa7;
    --color-hBgHovD: #c9dfa7;
    --color-hText: #6b8e23;
    --color-hTextD: #6b8e23;
    --color-hTextHov: #354d05;
    --color-hTextHovD: #354d05;
    /* --color-hTextImg: #fff; */
    --color-hTextImg: #b6f943;
    --color-hTextImg1: #8fdf04;
    --color-hBorder: #dcdcdc;
    --color-hBorderD: #dcdcdc;

    /* //-- headMenu / + Всі випадаючі з head меню ??? */
    /* --color-menuBg: #e7f4e0;
    --color-menuBgD: #171919;
    --color-menuBgHov: #82ae46;
    --color-menuBgHovD: #82ae46;
    --color-menuBorder: #dcdcdc;
    --color-menuBorderD: #6b8e23;
    --color-menuText: #6b8e23;
    --color-menuTextD: #6b8e23;
    --color-menuTextHov: #fff;
    --color-menuTextHovD: #fff;
    --color-menuTextAct: red;
    --color-menuTextActD: red; */

    /*  //-- drawer -------------------------------------------- */
    --color-drawDropMenuBg: #e7f4e0;
    --color-drawDropMenuBgD: #141313;
    --color-drawDropHr: #6b8e23;
    --color-drawDropHrD: #615f5f;

    /* //-- table (title/icons)-------------------------------------------- */
    --color-tabHTitle: #6b8e23;
    --color-tabHTitleD: #6b8e23;
    --color-tabHText: #000;
    --color-tabHTextD: #ffff;
    --color-tabHBg: #f8f8f8;
    --color-tabHBgD: #222628;

    /* //-- table (th/tr/нижній підсумок)  */
    --color-tabThBorder: #babfc7;
    --color-tabThBorderD: #dde2eb;
    --color-tabTrBorder: #babfc7;
    --color-tabTrBorderD: #dde2eb;
    /* /th/ */
    --color-tabThTexCol: rgb(31 41 5l5);
    --color-tabThTexColD: #d3d3d3;
    --color-tabThBgCol: #d6d3d1;
    --color-tabThBgColD: #1f2937;
    /* //Рядки */
    --color-tabTrTexCol: #000;
    --color-tabTrTexColD: #fff;
    --color-tabTrBgCol: #fff;
    --color-tabTrBgColD: #374151;
    --color-tabTrBgHovCol: #e7e5e4;
    --color-tabTrBgHovColD: #6b7280;
    --color-tabTrBgEveCol: #f5f5f4;
    --color-tabTrBgEveColD: #4b5563;
    --color-tabTrBgSelCol: #e8efd3;
    --color-tabTrBgSelColD: #6b8e23;
    --color-tabTrBgSelHovCol: #c9dfa7;
    --color-tabTrBgSelHovColD: #82ae46;
  }
  @import "@/styles/themes/theme1.css";
  @import "@/styles/themes/theme2.css";
  @import "@/styles/themes/theme3.css";
}
